* {
    box-sizing:border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    max-width: 1080px;
    margin: 0 auto;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsl(0, 0%, 0%, .2);
    padding-left: .5rem;
}

.nav-wrapper img {
    width: 10em;
    margin: 0;
}

.menu-wrapper {
    list-style: none;
    display: flex;
    margin-right: 1em;
}

.menu-item a {
    text-decoration: none;
    color: hsl(0, 0%, 50%);
    padding: .5em .75em;
    cursor: pointer;
}

.menu-item a:hover,
.menu-item a:focus {
    color: black;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    align-items: center;
}

.hero-image {
    max-width:100%;
    max-height:100%;
    border-radius: .2rem;
    box-shadow: 0px 0px 5px 0px #555;
    margin: 1rem;
}

.hero-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text-wrapper h1 {
    text-align: center;
}

.btn {
    font-size: 1.25em;
    background-color: hsl(214,100%,34%);
    border: none;
    outline: none;
    border-radius: .2em;
    margin-top: 1em;
    padding: .5em 1em;
    color: white;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: hsl(202,100%,61%);
}

.features {
    background-color: hsl(202, 100%, 90%);
    text-align:center;
    color: white;
    padding: .25rem 1rem 1rem 1rem;
    margin-top: 1rem;
}

.features h2 {
    font-weight: 800;
}

.card-wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.card {
    color: #333;
    background-color: white;
    border-radius: .2rem;
    box-shadow: 0px 0px 5px 0px hsl(202, 100%, 20%);
    padding: .25rem .25rem .5rem .5rem;
}
.card p {
    text-align: left;
    line-height: 1.3rem;
    padding-left: .25rem;
}

.footer img {
    width: 5rem;
}

.nav-wrapper.footer {
    border-bottom: 1px solid #9993;
}

.copyright {
    text-align: center;
    font-size: .7rem;
}

.copyright p {
    margin: 0;
    padding: .5rem;
}


@media (max-width: 700px) {

    .nav-wrapper {
        flex-direction: column;
        margin-top: .75rem;
        padding: 0;
    }

    .nav-wrapper img {
        width:7rem;
        margin: 0;
    }

    .menu-wrapper {
        flex-direction: column;
        gap: .5rem;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
    }

    .hero-image {
        margin-top: 2rem;
        max-width: 75%
    }

    .hero h1 {
        margin-bottom: 0;
    }

    .hero p {
        max-width: 75%;
        margin-bottom: .5rem;
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 75%;
        margin: 0 auto;
    }

}